services:
  rekas-be:
    build: .
    container_name: rekas-be
    restart: always

    # Mapping Port:
    # Port 4005 di VPS (Biar gak bentrok sama KeuanganKu) -> Port 3000 di Container (Sesuai app.js)
    ports:
      - "4005:3000"

    # Baca file .env yang tadi kita buat
    env_file:
      - .env

    # Mapping folder upload biar file gak ilang kalau restart
    volumes:
      - ./uploads:/app/uploads

    # Gabung ke jaringan edaily biar bisa connect ke database
    networks:
      - e-daily-report-net

networks:
  e-daily-report-net:
    external: true
    name: e-daily-report_default
